body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: #f0f2f5;
}

.main-page {
    display: flex;
    height: 100vh;
}

.left-menu {
    width: 200px;
    background-color: black; /* Change the sidebar color back to black */
    color: white;
    transition: width 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.left-menu.collapsed {
    width: 0;
}

.menu-toggle {
    background: none;
    border: none;
    color: white; /* Default color for expanded menu */
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    z-index: 1000; /* Ensure the button is always on top */
    transition: color 0.3s;
}

.menu-toggle.menu-open {
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu-toggle.menu-collapsed {
    position: fixed;
    top: 20px;
    left: 20px;
    color: black; /* Color when the menu is collapsed */
}

.logo-container {
    margin: 20px 0;
}

.logo {
    height: 80px; /* Adjust the size of the logo */
    max-width: 100%;
}

.left-menu nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.left-menu nav ul li {
    margin: 20px 0;
}

.left-menu nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.left-menu nav ul li a:hover {
    background-color: #444; /* Slightly different hover color */
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
    transition: margin-left 0.3s;
}

.left-menu.collapsed ~ .content {
    margin-left: 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .left-menu {
        width: 150px;
    }

    .left-menu.collapsed {
        width: 0;
    }

    .logo {
        height: 60px; /* Adjust for smaller screens */
    }

    .content {
        margin-left: 150px;
    }

    .left-menu.collapsed ~ .content {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .logo {
        height: 40px; /* Adjust for very small screens */
    }

    .left-menu {
        width: 100px;
    }

    .left-menu.collapsed {
        width: 0;
    }

    .content {
        margin-left: 100px;
    }

    .left-menu.collapsed ~ .content {
        margin-left: 0;
    }
}
