/* Top Bar Styles */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: #000000;
  color: white;
  height: 50px; /* Adjusted height */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.topbar-sidebar {
  display: flex;
  align-items: center;
  height: 100%;
}

.topbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  height: 100%;
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-icon {
  height: 40px;
  width: auto;
}

/* Right Section - Login/Signup/Profile */
.topbar-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.topbar-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  height: 30px;
  line-height: 15px;
}

.topbar-button:hover {
  background-color: #45a049;
}

.user-profile {
  position: relative;
}

.user-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4caf50;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Sin padding */
  margin: 0; /* Sin margen */
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
}

.user-button svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  display: block; /* Eliminar espacio inline */
}

.user-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
}

.user-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-menu li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
}

.user-menu li:hover {
  background-color: #f0f0f0;
}
