/* General styles */
body {
  font-family: "Playfair Display", serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maie-header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.maie-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

/* InputItem component styles */
.input-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.input-item h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: black;
}

.input-item label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  color: black;
}

.input-item .keep-open-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-item textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  resize: none; /* Disable resizing */
  font-family: "Playfair Display", serif;
}

.input-item textarea:focus {
  outline: none;
  border-color: #007bff; /* Change to your preferred focus border color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow if desired */
}

.input-item textarea.error {
  border: 1px solid rgb(0, 124, 62);
}

.input-item button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.input-item button:hover {
  background-color: #333;
}

.input-item button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.input-item button.cancel-button {
  background-color: gray;
  color: white;
}

.input-item button.cancel-button:hover {
  background-color: darkgray;
}

/* Section component styles */
.section {
  background-color: #f9f9f9;
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* For positioning the buttons */
  padding-bottom: 60px; /* Add padding to make space for the button */
}

.section-error {
  border: 2px solid red; /* Highlight sections with errors */
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse-icon {
  cursor: pointer;
  margin-right: 10px;
}

.section-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.section-header input[type="text"] {
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  width: fit-content;
}

.section-actions {
  display: flex;
}

.section-actions button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
}

.section-actions button:hover {
  background-color: #333;
}

/* Quiz title styles */
.quiz-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  cursor: pointer;
}

.quiz-title-input {
  display: block;
  width: calc(100% - 22px);
  padding: 10px;
  margin: 0 auto 20px auto;
  font-size: 2rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Add Section button styles */
.add-section-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.add-section-button:hover {
  background-color: #333;
}

/* Add Item button styles */

.add-item-button {
  display: block;
  margin: 10px 0 0 auto;
  padding: 5px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.add-item-button:hover,
.close-add-item-button:hover {
  background-color: #333;
}

/* Save Quiz container */
.save-quiz-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

/* Save Quiz button styles */
.save-quiz-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
}

.save-quiz-button:hover {
  background-color: #333;
}

/* Save message styles */
.save-message {
  font-size: 1rem;
  margin-right: 10px;
}

.save-message.success {
  color: green;
}

.save-message.error {
  color: red;
}

/* Tooltip styles */
.tooltip {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  bottom: 50px;
  right: 0;
  font-size: 0.9rem;
  z-index: 1;
}

/* ItemList component styles */
.item-list {
  background-color: white;
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.item-list h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: black;
}

.item-box {
  background-color: #f9f9f9; /* Light gray for contrast */
  border: 1px solid #ccc; /* Light gray border */
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
  position: relative; /* For positioning the delete button */
}

.item-box .item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.item-box .item-actions {
  display: flex;
}

.item-box .edit-button,
.item-box .delete-button {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  margin-left: 10px;
}

.item-box .edit-button:hover {
  color: #007bff;
}

.item-box .delete-button:hover {
  color: red;
}

.item-box h2 {
  margin: 0;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
}

.item-box h3 {
  margin: 5px 0 0;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.item-box p {
  margin: 5px 0 0;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}
.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96%;
  box-sizing: border-box;
  margin: 2%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 8px;
}

/* Responsive design */
@media (max-width: 768px) {
  .input-item,
  .item-list,
  .section {
    width: 90%;
    margin: 10px auto;
    padding: 15px;
  }

  .input-item textarea {
    width: calc(100% - 20px);
  }

  .input-item button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}

.toggle-label {
  margin-left: 10px;
  margin-top: 1%;
  font-family: "YourAppFont", sans-serif;
  font-size: 1rem; /* Adjust font size as needed */
  color: #333; /* Text color */
}
