.perform-quiz {
  width: 100%; /* Make the width as large as possible */
  max-width: 1200px; /* Optional: Set a max width if desired */
  margin: 0 20px; /* Add margin on the sides */
  padding: 20px; /* Keep the padding for inner spacing */
  box-sizing: border-box; /* Include padding and border in the width */
  font-family: Arial, sans-serif;
}

.question-section {
  margin-top: 20px;
  width: 100%; /* Ensure it expands with the parent */
}

.answer-section {
  margin-top: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
}

p {
  font-size: 16px;
  margin: 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

input[type="text"],
.question-section textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Include padding and border in the width */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="text"]::placeholder {
  color: #999;
}

button,
.button-link,
.basic-button {
  margin-top: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button.disabled,
.basic-button.disabled {
  background-color: grey;
  cursor: not-allowed;
}

button:hover:not(.disabled),
.button-link:hover {
  background-color: #333;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.mark-button {
  flex: 1;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  background-color: white;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-align: center;
}

.mark-button.selected {
  background-color: #000000;
  color: white;
}

.mark-button:hover {
  background-color: #e0e0e0;
  color: white;
}

button:focus,
input[type="text"]:focus,
.question-section textarea:focus {
  outline: none;
  border-color: #666;
}

.question-section textarea {
  resize: none; /* Disable resizing */
  font-family: "Playfair Display", serif;
}

.question-section textarea:focus {
  border-color: #007bff; /* Change to your preferred focus border color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow if desired */
}
