.quiz-item {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  width: auto;
  position: relative;
  background-color: white;
}

.quiz-item h3 {
  margin: 0 0 0.5rem 0;
  color: #000000; /* Adjust based on your app's color scheme */
}

.quiz-item p {
  margin: 0.25rem 0;
  color: #000000;
}

.quiz-item-selectible:hover {
  background-color: #f0f8ff; /* Adjust based on your app's color scheme */
  transform: translateY(-2px);
  cursor: pointer;
}

.quiz-item.selected {
  background-color: #e6f7ff; /* Adjust based on your app's color scheme */
  border-color: #007bff;
}

.quiz-item.redo {
  background-color: #ddd; /* Adjust based on your app's color scheme */
  border: 1px solid #c9c9c9;
  display: inline-block;
}

.quiz-item.redo:hover {
  background-color: #ffe9e9; /* Adjust based on your app's color scheme */
  transform: translateY(-2px);
}

.quiz-item.selected.redo {
  background-color: #ffd7d7; /* Adjust based on your app's color scheme */
  border-color: #ff4d4d;
}

.quiz-item-header {
  width: 100%;
}

.perform-quiz {
  padding: 20px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.question-section {
  margin-top: 20px;
}

.answer-section {
  margin-top: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button,
.button-link {
  margin-top: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button.disabled {
  background-color: grey;
  cursor: not-allowed;
}

button:hover:not(.disabled) {
  background-color: #333;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.mark-button {
  flex: 1;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  text-align: center;
}

.mark-button.selected {
  background-color: #d0e0f0;
}

.mark-button:hover {
  background-color: #e0e0e0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
  margin: 5px 0;
}

input[type="text"]::placeholder {
  color: #999;
}

button:focus,
input[type="text"]:focus,
.button-link:focus {
  outline: none;
  border-color: #666;
}

.disabled {
  background-color: grey;
  cursor: not-allowed;
}

.dropdown-wrapper {
  position: relative; /* Relative positioning allows the dropdown menu to be positioned absolutely within this wrapper */
}

.dropdown-menu2 {
  top: 50%;
  left: 0;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  width: max-content;
  list-style: none;
  transition: transform 0.2s ease;
  transform-origin: top;
}

.dropdown-menu2.dropdown-align-right {
  left: auto;
  right: 0;
  transform-origin: top right;
}

.dropdown-menu2 a {
  color: #333; /* Replace with your preferred color */
  text-decoration: none; /* Optional, to remove underline */
}

.dropdown-menu2 a:hover {
  color: #114ab3; /* Same color as normal links, or choose another color */
}

.dropdown-menu2 li {
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-menu2 li:hover {
  background-color: #f0f0f0;
}

.dropdown-menu2 li.delete-element:hover {
  color: #ca4848;
}

.dropdown-menu2 li.entitlement-element:hover {
  color: #8f7d2b;
}

.dropdown-menu2 li.download-element:hover {
  color: #601881;
}

.dropdown-menu2 li.edit-element:hover {
  color: #1a317e;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.25rem;
  color: black;
}

.dropdown-toggle:hover {
  color: #007bff;
}

.dropdown-menu {
  display: none;
}

.dropdown-wrapper .dropdown-menu {
  display: block;
}
