.input-quiz-meta {
  textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 0 auto 20px auto;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
}
/* General Container */
.quiz-meta-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Title and Description */
.quiz-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.description-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.description-wrapper textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-size: 1rem;
  background-color: #fff;
}

/* Section List */
.section-list-wrapper {
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

/* Section List */
.section-list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.controls-container {
  display: flex;
  justify-content: space-between; /* Space between toggle and buttons */
  align-items: center; /* Center items vertically */
  position: absolute; /* Positioning relative to the parent */
  bottom: 20px; /* Distance from the bottom */
  left: 20px; /* Distance from the left */
  right: 20px; /* Distance from the right */
}

/* Save Quiz Container */
.save-quiz-container {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* Space between buttons */
}

.save-quiz-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-quiz-button:hover {
  background-color: #218838;
}

/* Toggle Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px; /* Rounded corners */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%; /* Circular knob */
}

/* Checked state */
input:checked + .slider {
  background-color: #28a745; /* Green background when checked */
}

input:checked + .slider:before {
  transform: translateX(26px); /* Move the knob to the right */
}

.autosave-toggle {
  display: flex;
  align-items: center; /* Center toggle and label vertically */
}
